#quadrado {
    width: 350px;
    height: 350px;
    border: 1px solid;
    border-color: black;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
