.quadrado {
    width: 30px;
    height: 30px;
    border: 25px solid;
    border-color: red;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sexo{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}